lenguage = "python3"
channel = "stable-22_05"
pattern = "**/*.py"
[packager]
language = "python3"
ignoredPackages = ["unit_tests"]
  enabledForHosting = false
  packageSearch = true
  guessImports = true
run = "python3 -m VideoEncoder"


